.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
    filter: brightness(50%);
}

.background video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.About {
    text-align: center;
    
}



.About img {
    display: block; 
    margin: 0 auto; 
    width: 400px;
    height: auto;
  }

a[href="https://www.instagram.com/maximumtheultimate/"] {
    font-weight: normal;
    color: inherit;
    text-decoration: none;
  }
  
  a[href="https://www.instagram.com/maximumtheultimate/"]:hover {
    font-weight: bold;
  }
  


.logoapp {
    position: relative;
}
.logoapp img {
    width: 64px;
    height: auto;
}



.equipment {
    text-align: center;

}















.button a {
    text-decoration: none;
    color: whitesmoke;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 100px;
}

.button a:hover {
    font-weight: bold;
  }






.bottom {
    left: 0;
    bottom: 25px;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    color: whitesmoke;
  }
